*{
    margin: 0;
    padding: 0;
   
}
body{
    color: white;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(26, 25, 32);
   
}

nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 70px;
    background-color: rgb(49, 48, 46);
}
.right ul{
    display: flex;
    justify-content: center;
    background-color: rgb(49, 48, 46);

}
.right ul li{
    float: left;
    list-style: none;
    margin: 0px 23px;
 
}
.left{
    font-size: 1.5rem;
}
.first{
    display: flex;
    justify-content: space-around;
    margin: 23px 0px;
    
}
.first div{
    width: 30%;
}
img{
    height: 300px;
    margin: 50px 0px;
}
.leftsec{
    font-size: 2rem;
    margin: 90px 60px;
}
#name{
    color: rgb(159, 174, 179);
}
li a{
    text-decoration: none;
    color: white;
}
li a:hover{
    color:  rgb(159, 174, 179);
    
}
.second{
    max-width: 80vw;
    margin: auto;
    height: 60vh;
}
main hr{
    border: 0px;
    background-color:rgb(49, 48, 46);
    height: 1px;
    margin: 30px 30px;
}
h2{
    font-weight: 400;
}
.second .box{
    background: rgb(49, 48, 46);
    
    height: 2px;
    margin: 130px 0px;
    display: flex;
}
.second .vertical{
    height: 92px;
    width:1px;
    background-color: rgb(49, 48, 46);
    margin: 0px 110px;
}

.image-top{

    height: 80px;
    width: 80px;
    position: relative;
    top: -140px;
    left: -39px;
}


.vertical-title{
    position: relative;
    top: -80px;
    left: -50px;
    width: 150px;
}

.third{

    max-width: 80vw;
    margin: auto;
    height: 125vh;

}
.container{

  
    width: 80vw;
    height: 56vh;
    margin: 30px;
    display: flex;
   
   
    
}
.container .content{

    border: 1px solid rgb(49, 48, 46);
    border-radius: 4px;
    background-color: rgb(48, 46, 46);
    margin: 30px 10px;
    height: 300px;
    width: 500px;
}
.content .title{

     font-size: 25px;
     margin: 15px 25px;
}
.content .title a{
    text-decoration: none;
    color: white;
}

.content .title a:hover{
    
   color:rgb(159, 174, 179); ;
}

.desc p{
    font-size: 12px;
    width: 300px;
    margin: 0px 20px;
    color: rgb(129, 128, 125);
}

.fourth{

    max-width: 80vw;
    margin: auto;
    height: 60vh;

}

.panel{

   
    margin: 50px ;
    height: 250px;
    display: flex;
}

.panel .detail{

    
    margin: 30px 90px;
    width:180px;
    height: 140px;
}

.detail label{

    font-size: 30px;
    margin: 40px 20px;
    margin-left: 60px;

}
.detail h4{
    margin-left: 38px;
    font-weight: 200;

}
.detail p{
    margin-left: 20px;
}

#phone{
    margin-left: 50px;

}
#p{
    margin-left: 30px;
}
#email{
    margin-left: 56px;
}

@media screen and (max-width: 1228px) {

    body{
        width: 95vw;
    }
    nav{
        width:100vw;
    }
    hr{
          position: relative;
          left: 30px;
    }
    .second{
        width: 140vw;
    }
    .box{
       width: 85vw;
    }
    .vertical{
        position: relative;
        right: 50px;
    }
    .container{
        position: relative;
        right: 76px;
    }
}

@media screen and (max-width: 1102px)
{
    body{
        width: 85vw;
    }
    hr{
        width: 90vw;
       right: 30px;
    }
    h2{
         margin-left: 38px;
    }
    .second{
        width: 100vw;
    }
    .box{
       width: 95vw;
    }
    .container{
        margin-left: 60px;
    }
    .content{
         width: 150px;
         height: 60px;

    }
    .title{
        font-size: 10px;
    }
}



@media screen and (max-width: 1066px)
{
    body{
        width: 75vw;
    }
    nav{
        width: 101vw;
    }
    h2{
        margin-left: 65px;
    }
   
    .vertical-title{
        font-size: 15px;
    }
    
    .box{
        width: 95vw;
        position: relative;
        top: 50px;
       left: 40px;
    }
    .third{
        width: 90vw;
    }
    .container
    {
        width: 200px;
        margin-left: 100px;
    }
    .container .content{
        width: 30vw;
        font-size: 15px;
        

    }
    .desc p{
        margin-right:9px;
    }
}

@media screen and (max-width: 1050px)
{
    nav{
        width: 103vw;
    }
   .desc{
    display: flex;
    justify-content: center;
   }
   .desc p{
        font-size: 11px;
    }
    .third{
        width: 90vw;
    }
    .container
    {
        width: 200px;
        margin-left: 150px;
    }
    .container .content{
        width: 28vw;
        font-size: 15px;
        height: 26vw;
        

    }
    hr{
        position: relative;
        top: 20px;
    }
    
    .box{
       position: relative;
       top: -2px;
    }
    h2{
        margin-top: 40px;
    }
   
}

@media screen and (max-width: 1030px)
{
    body{
        width: 70vw;
        
    }
    nav{
        width:110vw;
    }
    
}

@media screen and (max-width: 1005px)
{
    body{
        width: 65vw;
    }
    .image-top{
        width: 57px;
        height: 60px;
       margin-left: 15px;
    }
    .second .vertical
    {
       height: 50px;
       margin: 0px 75px;
       font-size: 15px;
     
    }
    .box{
        
        width: 65vw;
      position: relative;
      left: 200px;
        
    }
    .desc p{
        font-size: 9.6px;
    }
    
}

@media screen and (max-width: 989px)
{
    .container .content{
        height: 27.5vw;
    }
}

@media screen and (max-width: 989px)
{
    .container .content{
        height: 27vw;
    }
    .title a{
        font-size: 15px;
    }
    .box{
        
        width: 70vw;
      position: relative;
      left: 200px;
        
    }
}

@media screen and (max-width: 909px)
{
    .box{
        
        width: 72vw;
      position: relative;
      left: 210px;
        
    }
    .rightsec img{

        width: 350px;
        margin-left: 150px;
        margin-top: 120px;
    }
    .first .leftsec{
        width: 60%;
        margin-top:130px;
        margin-left: 90px;
       
    }
    .detail{
        margin-right: 130px;
    }
 

}


@media screen and (max-width: 865px){

    body{
        width: 45vw;
    }
   nav{
    width: 115vw;
   }
   .detail{
    margin-right: 200px;
   }
   .image-top{
    width: 47px;
    height: 50px;
   margin-left: 14px;
}
.second .vertical
{
   height: 40px;
   margin: 0px 65px;
   font-size: 10px;
 
}
.box{
    
    width: 65vw;
  position: relative;
  left: 200px;
    
}
.vertical-title{
    font-size: 11px;
}
.title a{
    font-size: 10px;
}

.detail{
    font-size: 10px;
    position: relative;
    right: 50px;
}
label{
    position: relative;
    right: 10px;
}

}

@media screen and (max-width: 797px)
{
    img{
        width: 40px;
        height: 200px;
      position: relative;
      left: 70px;
        
    }
    .first .leftsec{
        font-size: 20px;
        width: 290px;
        height: 10px;
        position: relative;
        left: 30px;
    }
    .container .content{
       height: 280px;
       position: relative;
       bottom: 30px;
    }
    .box{
        width: 70vw;
    }
}

@media screen and (max-width: 749px)
{
    .box{
        width: 75vw;
    }
    .panel{
        width: 100px;
      
        margin:0px 40px;

    }
    .fourth{
        height: 5vw;
    }
}

@media screen and (max-width: 711px)
{
    nav{
        width: 118vw;
    }
    img{
       position: relative;
       left: -10px;
       width: 20px;
       height:200px;
      
    }
    .box{
        width: 78vw;
        position: relative;
        left: 120px;
    }
    .title a{
        font-size: 9px;
    }
    .panel{
        display: flex;
        margin: 0px 5px;
    }
    .detail{
        width: 20px;

        margin: 0px 6px;
    }
}

@media screen and (max-width: 360px)
{
    nav{
        width: 209vw;
    }
    .box{
        width: 160vw;
        
    }
    .second{
        height: 50vh;
    }
    hr{
        width: 180vw;
    }
    .container .content{

        width: 196px;
        height: 390px;
    }

}
@media screen and (max-width: 375px)
{
       nav{
        width: 201vw;
       }
       hr{
         width: 180vw;
       }
       .box{
        width: 150vw;
        position: relative;
        top: 80px;
       }
       .container {
       

        width: 150vw;

       }
       .container .content{

         width: 170px;
         height: 320px;
       }
       .detail{

        font-size: 8px;
       }
}



@media screen and (max-width: 280px)
{
     nav{
        width: 270vw;
     }
     hr{
        width: 240vw;
     }
     .box{
        width: 200vw;
     }
    
}

@media screen and (max-width: 414px)
{
    nav{
        width: 180.5vw;
    }
    hr{
        width: 160vw;
    }
    .box{
        width: 140vw;
       
    }
    .second{
        height: 30vh;
    }
    .container .content{
        width: 200px;
       
    }
    .third{
        height: 100vh;
    }
}


@media screen and (max-width: 390px)
{
    nav{
        width: 193vw;
    }
    .box{
        width: 146vw;
    }
    .detail{
        position: relative;
        right: 80px;
    }
   
}



